*,
*::after,
*::before {
	box-sizing: border-box;
}

:root {
	font-size: 16px;
}

body {
	margin: 0;
	--color-text: #000;
	--color-bg: #fff;
	--color-link: #4b4b4b;
	--color-link-hover: #000;
	color: var(--color-text);
	background-color: var(--color-bg);
	font-family: ivymode, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.cursor {
	display: none;
}

.demo1 {
	--color-text: #ffffff;
    --color-link: #1c4a62;
    --color-link-hover: #fff;
}

.demo3 {
	--color-text: #3ca5c7;
    --color-link: #d29021;
    --color-link-hover: #b97a0e;
}

.demo4 {
	--color-text: #b9735d;
	--color-link: #fff;
	--color-link-hover: #b9735d;
}

.demo5 {
	--color-text: #01a19c;
	--color-link: #fff;
	--color-link-hover: #01a19c;
}

.demo6 {
	--color-text: #e8a770;
	--color-link: #fff;
	--color-link-hover: #e8a770;
}

.demo7 {
	--color-link: #fff;
	--color-link-hover: #000;
}

.demo8 {
	--color-text: #fff;
	--color-link: #000;
	--color-link-hover: #fff;
}

/* Page Loader */
.js .loading::before,
.js .loading::after {
	content: '';
	position: fixed;
	z-index: 1000;
}

.js .loading::before {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--color-bg);
}

.js .loading::after {
	top: 50%;
	left: 50%;
	width: 60px;
	height: 60px;
	margin: -30px 0 0 -30px;
	border-radius: 50%;
	opacity: 0.4;
	background: var(--color-link);
	animation: loaderAnim 0.7s linear infinite alternate forwards;

}

@keyframes loaderAnim {
	to {
		opacity: 1;
		transform: scale3d(0.5,0.5,1);
	}
}

a {
	text-decoration: none;
	color: var(--color-link);
	outline: none;
}

a:hover,
a:focus {
	color: var(--color-link-hover);
	outline: none;
	text-decoration: underline;
}

.message {
	background: var(--color-text);
	color: var(--color-bg);
	padding: 1rem;
	text-align: center;
}

.frame {
	padding: 3rem 5vw;
	text-align: center;
	position: relative;
	z-index: 1000;
}

.frame__title {
	font-size: 1rem;
	margin: 0 0 1rem;
	font-weight: normal;
}

.frame__links {
	display: inline;
}

.frame__links a:not(:last-child) {
	margin-right: 1rem;
}

.frame__demos a:not(:last-child) {
	margin-right: 2rem;
}

.frame__demos {
	margin: 1rem 0;
}

.frame__demo {
	white-space: nowrap;
}

.frame__demo--current,
.frame__demo--current:hover {
	color: var(--color-text);
}

.content {
	display: flex;
	flex-direction: column;
	width: 100vw;
	height: calc(100vh - 13rem);
	position: relative;
	justify-content: flex-start;
	align-items: center;
	cursor: pointer;
}

@media screen and (min-width: 53em) {
	.message {
		display: none;
	}
	.frame {
		position: fixed;
		text-align: left;
		z-index: 100;
		top: 0;
		left: 0;
		display: grid;
		align-content: space-between;
		width: 100%;
		max-width: none;
		height: 100vh;
		padding: 2rem;
		grid-gap: 3rem;
		pointer-events: none;
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-moz-user-select: none; 
		-ms-user-select: none; 
		user-select: none; 
		grid-template-columns: min-content min-content auto 300px;
		grid-template-rows: auto auto auto;
		grid-template-areas: 'title links info ...'
							'... ... ... ...'
							'... ... demos demos';
	}
	.frame__title-wrap {
		grid-area: title;
		display: flex;
	}
	.frame__title {
		margin: 0;
		white-space: nowrap;
	}
	.frame__info {
		grid-area: info;
	}
	.frame__demos {
		margin: 0;
		grid-area: demos;
		justify-self: end;
	}
	.frame__links {
		grid-area: links;
		padding: 0;
		white-space: nowrap;
		margin: 0 1rem;
	}
	.frame a {
		pointer-events: auto;
	}
	.content {
		height: 100vh;
		justify-content: center;
	}
}

#slider {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}

.dg {
	z-index: 100 !important;
}

@media (any-pointer: fine) {
	.cursor {
		display: block;
	}
	.cursor__inner {
		z-index: 9999;
		pointer-events: none;
		position: absolute;
		top: 0;
		left: 0;
		mix-blend-mode: difference;
		border-radius: 50%;
	}
	.cursor__inner--circle {
		width: 25px;
		height: 25px;
		border: 1px solid var(--color-text);
	}
}